*{
    font-family: inter;
}
body{
    margin: 0%;
}
header{
    align-items: center;
    display: flex;
    max-width: 100%;
    width: auto;
    height: 130px;
    background-color: rgba(195, 195, 195, 0.479);
}
header .logo {
    margin-right: -2em;
    margin-top: -25px;
    padding-top: 10%;
    width: 150px;
    margin-left: -50px;
}
.link_logo{
    margin-left: 5%;
    padding-top: 1%;
    text-decoration: none;
}
.menu{
    box-sizing: border-box;
    width: 100%;
}

.menu a:hover {
    color: green
}

.fale_conosco:hover{
    background-color: rgba(76, 56, 9, 1);
}

li{
    position: relative;
    padding-left: 2%;
    padding-right: 1%;
}
.fale_conosco{
    margin-right: 20px;
    background-color: rgb(48, 177, 60);
    width: 200px;
    height: 2px;
    padding: 20px 20px 37px 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

li .flecha {
    top: 5px;
    left: -4px;
    width: 20px;
    position: relative;
}

.menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.menu nav ul li {
    margin-left: 20px;
}

.menu nav ul li a {
    text-decoration: none;
    color: #333;
}
#fale_conoscoo{
    padding: 10px;
    color: white;
    margin-right: 0;
}
header img {
    margin-left: 5%;
    width: 150px;
    margin-top: -25px;
    padding-top: 1%;
}
.menu{
    box-sizing: border-box;
    width: 100%;
}
nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
}
li{
    position: relative;
    padding-left: 2%;
    padding-right: 1%;
    list-style: none;
    
}
a{
    text-decoration: none;
    color:black
}

main{
    margin-right: 1rem;
    margin-left: 1rem;
}
.img1{
    position: absolute;
    margin-left: 45%;
    margin-top: -33px;

}
.img2{
    position: absolute;
    margin-right: 45%;
    margin-top: -33px;
}
.header_tittle{
    display: flex;
    background-color: #30B13C;
    color: white;
    width: 40%;
    justify-content: center;
    border-radius: 50px;
    z-index: 3;
    align-items: center;
}
.header_tittle h1{
    height: 30px;
}
.header2{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.header2 img{
    margin-top: 20px;
    width: 40px;
    height: 40px;
}
.lixos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    margin-left: 200px;
    margin-right: 200px;
}
.lixos img{
    padding: 40px;
}
.fundo {
    width: 100%;
    position: absolute;
    z-index: -1111;
    height: 50%;
}

.ecobook {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
}
.tripe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.social-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    background: rgb(227, 227, 227);
    height: 50px;
}