*{
    font-family: inter;
}
body{
    margin: 0%;
    /* padding-bottom: 1%; */
    /* border: 2px solid; */
    /* box-sizing: border-box; */
}
header{
    align-items: center;
    display: flex;
    max-width: 100%;
    width: auto;
    height: 130px;
    background-color: rgba(195, 195, 195, 0.479);
}
header .logo {
    /* margin-right: -2em; */
    margin-top: -25px;
    padding-left: 15%;
    width: 150px;
    /* margin-left: -50px; */
}
.link_logo{
    /* margin-left: 5%; */
    padding-top: 1%;
    text-decoration: none;
}
.menu{
    /* box-sizing: border-box; */
    width: 100%;
}

.menu a:hover {
    color: green
}
main{
    margin: 10px;
}

.fale_conosco:hover{
    background-color: rgba(76, 56, 9, 1);
}

.fale_conosco{
    /* margin-right: 20px; */
    background-color: rgb(48, 177, 60);
    width: 200px;
    height: auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

li .flecha {
    top: 5px;
    left: -4px;
    width: 20px;
    position: relative;
}

.menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
}


.menu nav ul li a {
    text-decoration: none;
    color: #333;
}
#fale_conoscoo{
    /* padding: 10px; */
    color: white;
    /* margin-right: 0; */
}
/* 
    COLETA SELETIVA PÁGINA INICIO ABAIXO:

 */

/* .header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    border: 2px solid;
} */
/* .img1{
    position: absolute;
    margin-left: 45%;
    margin-top: -33px;border: 2px solid;

} */
/* .img2{
    position: absolute;
    margin-right: 45%;
    margin-top: -33px;border: 2px solid;
} */
/* .header_tittle{
    display: flex;
    background-color: #30B13C;
    color: white;
    width: 40%;
    justify-content: center;
    border-radius: 50px;
    z-index: 3;
    align-items: center;border: 2px solid;
} */
/* .header_tittle h1{
    height: 30px;border: 2px solid;
} */
/* .header2{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;border: 2px solid;
} */
/* .header2 img{
    margin-top: 20px;
    width: 40px;
    height: 40px;border: 2px solid;
} */
/* .lixos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    margin-left: 200px;
    margin-right: 200px;border: 2px solid;
} */
/* .lixos img{
    padding: 40px;border: 2px solid;
} */
/* .fundo {
    width: 100%;
    position: absolute;
    z-index: -1111;
    height: 50%;border: 2px solid;
} */
/*
footer {
    margin-top: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}
*/
.ecobook {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
}
.tripe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.social-list {
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    /* justify-content: center; */
    list-style: none;
    gap: 20px;
    /* border: 2px solid; */
    width: 300px;
    align-items: center;
}
footer {
    background: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */
}
footer h3 {
    display: flex;
    border-radius: 20em;
    padding-left: 2.5em;
    background-color:rgba(25, 134, 43, 1) ;
    color: white;
    width: 10em;
    text-align: center;
}
/*
.footer {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 130px;
    border: solid #8C8C8C 1px;
    justify-content: center;
    align-items: center;
}

.footer h3{
    text-align: center;
    line-height: 30px;
    width: 200px;
    height: 30px;
    background-color: #217930;
    color: white;
    border-radius: 30px;
}
*/
/* 
    FIM COLETA SELETIVA

 */